<div class='container px-5 px-sm-0 my-5'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
        <table class="table">
          <tr><%= attachment_image_tag @user, :profile_image, size:"100x100", format:'jpeg', fallback:"no_image.jpg" %></tr>
          <tr>
            <th>name</th>
        	<th><%= @user.name %></th>
          </tr>
          <tr>
        	<th>introduction</th>
        	<th><%= @user.introduction %></th>
    	  </tr>
        </table>
    </div>
    <div class='col-md-8 offset-md-1'>
      <h2>@Group</h2>
    </div>
  </div>
</div>