<div class='col-md-8 offset-md-1'>
      <h2>カレンダー</h2>
        <div>
         <%=link_to "グループを作成する",new_group_path %>  <%#=link_to "グループ一覧",groups_path %>
        </div>
        <%= month_calendar events: @group do |date, groups| %>
          <%= date.day %>
            <% groups.each do |group| %>
              <%= link_to group.name, group_path(group) %>
          <% end %>
        <% end %>
    </div>  <!--(col-md-8 offset-md-1)-->