<div class='container'> <!--px-5 px-sm-0 my-5-->
  <div class='row'>
    <div class='col-md-3'>
      <h2>ユーザー一覧</h2>
        <!--<table class="table">-->
      <ul class="users">
           <% @users.each do |user| %>
        <li>
         <%= link_to user.name, user %>
        </li>
        <%= attachment_image_tag user, :profile_image, format: "jpeg", fallback: "no_image.jpg", size: "40x40" %>
         <% end %>
     </ul>



        <!--</table>-->
    </div>
  </div>
</div> <!--container-->