// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.users {
  list-style: none;
  // margin: 0;
  // li {
  //   overflow: auto;
  //   padding: 10px 0;
  //   // border-top: 1px solid $grayLighter;
  //   // &:last-child {
  //   //   border-bottom: 1px solid $grayLighter;
  //   // }
  // }
}